<title>enregistrer un nouveau potin<title>
<form action="potin/new" method="POST">
    <input type="text" name="user_first_name ">
    <input type="text" name="user_last_name">
    <input type="submit" value="Envoyer le formulaire">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>